$transitionDuration: 250ms;
$transitionProperties: $transitionDuration ease-out;

@mixin baseTransition($properties...) {
  @if length($properties) == 0 {
    transition: all $transitionProperties;
  } @else {
    $transitions: ();
    @each $property in $properties {
      $transitions: append($transitions, #{$property $transitionProperties ','});
    }
    transition: $transitions;
  }
}

:export {
  duration: $transitionDuration;
}
