@import 'src/styles/breakpoints.module';

.drawerButtonWrapper {
  display: grid;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 3px;

  @include smallScreen {
    grid-template-columns: repeat(3, min-content);
    direction: rtl;
    gap: 5px;
    top: unset;
    left: unset;
    bottom: 20px;
    right: 20px;
    padding: 5px;
  }
}

.drawerButton.drawerButton {
  @include smallScreen {
    width: 50px;
    height: 50px;
  }
}

//.drawerContent {
//  overflow: hidden;
//  padding: 3px 30px 30px 0;
//  h2 {
//    overflow: visible;
//  }
//}

.rangesWrapper {
  max-width: 50%;
}
