@import 'src/styles/breakpoints.module';
@import 'src/styles/common.module';

.drawerButtonWrapper {
  display: grid;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 3px;

  @include smallScreen {
    grid-template-columns: repeat(3, min-content);
    direction: rtl;
    gap: 5px;
    top: unset;
    left: unset;
    bottom: 20px;
    right: 20px;
    padding: 5px;
  }
}

.drawerButton.drawerButton {
  @include smallScreen {
    width: 50px;
    height: 50px;
  }
}

.sidebar {
  overflow: hidden;
  width: 100%;
}

.drawerContent {
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
  h2 {
    overflow: visible;
    margin-bottom: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.settings {
  @include styledScrollbar;
  flex: 1;
  overflow-y: scroll;
  padding: 0 40px calc(40px + var(--addressBarHeight, 0)) 0;
}

.cPart {
  gap: 10px;
  min-height: 120px;
  align-items: start !important;
}
