.fractal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .img {
    flex: 1;
    object-fit: contain;
    overflow: hidden;

    &.onFullscreen {
      object-fit: cover;
    }
  }

  .emptyCaptionWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 50px;
  }

  .progressBarWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    .progressBar {
      width: 40%;
      height: auto;
    }
  }
}
